<meta name="viewport" content="width=device-width, initial-scale=1.0">
 @font-face { font-family: basicTitleFont; src: url('basictitlefont.ttf'); } 
html, body {
    
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #A9A9A9;
    background: #000000;
}

.main-header {
  text-align: center;
}

a, a:hover {
  color: inherit;
}

img {
  margin: auto auto;
}

h1{
  color: #A9A9A9;
}
h2{
  color: #FFFFFF;
}

p{
  color: #A9A9A9;
  font-size: 16px;
  text-align: center;
    font-family: basicTitleFont
}

p2{
  color: #A9A9A9;
  font-size: 12px;
  text-align: right;
     font-family: basicTitleFont
}

@media (max-width: 768px) {
    .navbar .navbar-collapse {
        text-align: center;
    }
}

.main {
  
    text-align: center;
  width:100%;
  padding:0 15%;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #000000;
     font-family: basicTitleFont
}
.main2 {
  
    text-align: center;
  width:100%;
  padding:0 15%;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #000000;
     font-family: basicTitleFont
}
.footer2 {
font-size:8px;
    text-align: center;
  width:100%;
  padding:0 20%;
    
    padding-top: 50px;
    padding-bottom: 200px;
    background: #000000;
     font-family: basicTitleFont
}

#rig {
    max-width:100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; 
    list-style:none;
}
#rig li {
    display: inline-block;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.rig-button {
  display: block;
  width:100%;
  position:absolute;
  left:0;
  text-align:center;
  font-size:18px;
  font-weight:bold;
  color: white;
  top:20%;
  opacity:0;
  transition:all .6s;
}

.rig-button .real{
  background: none;
  margin-right: 20px;
  margin-top: 10px;
}

.rig-button .fake{
  background: none;
  margin-left: 20px;
  margin-top: 10px;
}


.rig-text {
    display:none;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}

/* The wrapper for each item */
.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

.rig-text .percentage{
  margin-top: -60px;
  font-size: 80px;
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #A9A9A9 no-repeat center 30%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

#rig li:hover .rig-button {
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 900px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

footer{
  background-color: #555555;
  height:100px;
  width: 100%;
  color: #D3D3D3;
}

.inner{
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
  padding-top: 30px;
}

